*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:  	#e1b382;
}

.container{
  width: 80%;
  margin: 50px auto;
}

.wrapper{
  background-color:#12343b;
  border-radius: 15px;
  min-height: 600px;
  padding: 20px 0;
}

.title{
  text-align: center;
  color: white;
  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 10px;
}